/* #######################################################

	@Author: Stefan Natter
	Version 1.0
	http://www.gb-world.net
	for GB-World Wordpress-Plugins

####################################################### */

#gb_world {
}

/* ##### INFO-PAGE-HEADER ##### */

#gb_world h2 {
	text-decoration: underline;
}

a.gb_world_header {
	color:#2A0000;
}

a.gb_world_header:hover {
	color: #d54e21;
}

/* ##### INFO-PAGE-SETTINGS ##### */

img.gb_world {
	border:solid;
}

.gxtb-clearer {
	clear: both;
}

/* ##### FEED-READER ##### */
li.ajax-error {
	color: #555;
}

li.gxtb_feed_li {
	border: none;
}

a.gxtb_feed {
	color: #3c627f;
}

a.gxtb_feed:hover {
	color: #d54e21;
}

/* ##### IFRAME-SETTINGS ##### */

#gb_world_iframe {
	width: 100%;
	height: 150px;
}

/* ##### PLUGINS-BOX ##### */

ul.gb_world_plugins {
	padding: 0 0 0 15px;
	list-style:circle;
}

#gb_world_plugins a{
	color: #3c627f;
}

#gb_world_plugins a:hover {
	color: #d54e21;
}